.home__projects__card {
    color: white;
    background-color: lightblue;

    width: 75.473rem;
    height: 66.773rem;

    padding: 3.3rem 4.04rem ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
 
  
  .home__projects__media {
    width        : 67.4rem;
    height       : 37.955rem;
    // margin-bottom: 7.15rem;
  
    position: relative;
  }
  
  .home__projects__media__image {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
  
    position: absolute;
    top     : 0;
    left    : 0;
  }
  

  
  .home__projects__details__content {
    display        : flex;
    justify-content: space-between;
    @extend %description-15;
  }
  
  .home__projects__content__title {
    text-transform: uppercase;
    @extend %description-70;
  }
  
  .home__projects__index {
    @extend %description-21;
  }

 