// %description-12 {
//   font-size: 1.2rem;
// }

// %description-15 {
//   font-size: 1.5rem;
// }


// %description-18 {
//   font-size: 1.8rem;

//   @include media('<phone') {
//     font-size: 2.8rem;
//   }
// }

// %description-s18 {
//   font-size  : 1.8rem;
//   font-weight: 600;
// }

// %description-20 {
//   font-size  : 2rem;
//   font-weight: bold;
// }

// %description-25 {
//   font-size  : 2.5rem;
//   font-weight: 600;
// }

// %description-30 {
//   font-size  : 3rem;
//   font-weight: bold;
// }

// %description-34 {
//   font-size: 3.4rem;
// }

// %description-s34 {
//   font-size  : 3.4rem;
//   font-weight: 600;
// }

// %description-50 {
//   font-size  : 5rem;
//   font-weight: bold;
// }


%description-41 {
  font-size  : 4.1rem;
  font-weight: 100;
  line-height: 4.3rem;
}

%description-15 {
  font-size  : 1.5rem;
  font-weight: 100;//thin
}

%description-80 {
  font-family: $font-archivo;
  font-size  : 8rem;
  font-weight: 500;
  line-height: 10rem;
}

%description-59 {
  font-size  : 5.9rem;
  font-weight: 500;
}

%description-28 {
  font-size  : 2.8rem;
  font-weight: 500;
}

%description-50 {
  font-size  : 5rem;
  font-weight: 100;//thin
  line-height: 6.5rem;
}

%description-21{
  font-size  : 2.1rem;
  font-weight: 300;//light
  line-height: 3.4rem;
}