%title-60 {
  font-family: $font-archivo;
  font-size  : 6.0rem;
  font-weight: 600;
  line-height: 8.8rem;
}

%title-60-2 {
  font-family: $font-archivo;
  font-size  : 6.0rem;
  line-height: 5.9rem;
  color: $color-orange;
  font-weight: 500;
}

// %title-210 {
//   font-family: $font-colus;
//   font-size  : 21rem;

//   @include media('<phone') {
//     font-size: 6.5rem;
//   }
// }