@import './base/reset';

// // ------------------------------------ // ------------------------------------------
// // // -------------------------------- U T I L S ---------------------------------------
// // ------------------------------------ // ------------------------------------------

@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
// // @import './utils/vendors';
@import './utils/responsive';

// // // // ------------------------------------ // ------------------------------------------
// // // // ------------------------------- S H A R E D --------------------------------------
// // // // ------------------------------------ // ------------------------------------------


 @import './shared/shared';


// // // // ------------------------------------ // ------------------------------------------
// // // // --------------------------------- B A S E ----------------------------------------
// // // // ------------------------------------ // ------------------------------------------

@import './base/fonts';
@import './base/base';

// // ----------------------------------- // ------------------------------------------
// //------------------------- C O M P O N E N T S ----------------------------------
// // ----------------------------------- // ------------------------------------------

// // @import './components/preloader';
 @import './layout/navigation';
// // @import './pages/home/home';
// // // @import './pages/about/about';
// // // @import './pages/about/content';
// // // @import './pages/about/gallery';
// // // @import './pages/about/highlight';
// // // @import './pages/collections/collections';


.cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .head{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }