@import './base/reset';

// // ------------------------------------ // ------------------------------------------
// // // -------------------------------- U T I L S ---------------------------------------
// // ------------------------------------ // ------------------------------------------

@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
// // @import './utils/vendors';
@import './utils/responsive';

// // // // ------------------------------------ // ------------------------------------------
// // // // ------------------------------- S H A R E D --------------------------------------
// // // // ------------------------------------ // ------------------------------------------


 @import './shared/shared';


// // // // ------------------------------------ // ------------------------------------------
// // // // --------------------------------- B A S E ----------------------------------------
// // // // ------------------------------------ // ------------------------------------------

// @import './base/fonts';
@import './base/base';

// // ----------------------------------- // ------------------------------------------
// //------------------------- C O M P O N E N T S ----------------------------------
// // ----------------------------------- // ------------------------------------------

@import './components/projectsCard';
 @import './layout/navigation';
 @import './pages/home/home';
// // // @import './pages/about/about';
// // // @import './pages/about/content';
// // // @import './pages/about/gallery';
// // // @import './pages/about/highlight';
// // // @import './pages/collections/collections';



 .containerRef{
    width: 100%;
    height: 100%;
 }