.home {
  @extend %center;
  // @extend %page;

  // overflow  : hidden;
  // text-align: center;
}


.home__wrapper {
  width: 100%;
}

.home__container {
  width: 100%;
}

.home__padding__wrapper {
  padding: 0 14rem;
  width  : 100%;
}

.home__header {
  height             : 64.1rem;
  width              : 100%;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 5.1rem;
}

.home__title {
  @extend %title-80;
  width : 124rem;
  height: 26.3rem;
  text-transform: uppercase;
  margin-top: 23.7rem;
}

.home__project__title {
  @extend %title-60-2;
  width        : 10.2rem;
  height       : 12.5rem;
  margin-top   : 11.9rem;
  margin-left  : 14rem;
  margin-bottom: 13.4rem;
  display      : inline-block;
}

.home__header__text{
  @extend %description-41;
  width: 21.4rem;
  margin-top: 5.0rem;
}

.home__project{
  height: 63.4rem;
  width: 100%;

  border-bottom: 2px solid #000000;
}

.home__project__wrapper{
   display: flex;
  justify-content: space-between;
}

.home__project__selected{
  height: 60.2rem;
}

.home__project__image{
  height: 53.4rem;
  width: 36.9rem;

  background-color: $color-orange;
}

.home__project__description{
  height: 5.8rem;
  width: 36.9rem;
}

.home__project__detail{
  display: flex;
  justify-content: space-between;
  @extend %description-15;
  margin-bottom: 2.0rem;
}

.home__project__name{
  text-transform: uppercase;
  @extend %description-21;
}

.home__aim{
  height:86.2rem;
  padding-top: 24.85rem;

  display: flex;
  justify-content: center;
}
.home__aim__content{
  height:28.6rem;
  width:104.7rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__aim__content__text{
  @extend %description-59;
  line-height: 6.9rem;
}

.home__agence__link{
  @extend %description-28;
}


.home__service{
  height: 108rem;
  width: 100%;
  background-color: $color-blue;
}