.home {
  @extend %center;
}

.home__wrapper {
  width: 100%;
}

.home__header__wrapper {
  width   : 100%;
  height  : 94rem;
  position: relative;

}

.home__line {
  width           : .1rem;
  height          : 100%;
  position        : absolute;
  background-color: #317A77;
  top             : 0%;

  &:first-child {
    left: 48.25rem;
  }
}

.home__header__content {
  width         : 107.6rem;
  height        : 44rem;
  position      : absolute;
  top           : 35.6rem;
  left          : 49.3rem;
  display       : flex;
  flex-direction: column;
}

.home__header__title {
  @extend %description-80;

  width: 103.3rem;
}

.home__header__subtitle {
  @extend %description-41;
  width     : 44.6rem;
  align-self: flex-end;
}

.home__header__svg {
  width   : 15.1rem;
  height  : 15.1rem;
  position: absolute;
  top     : 86.3rem;
  left    : 2rem;


}


.home__showreel__container {
  width : 100%;
  height: 99.4rem;

  display        : flex;
  justify-content: center;
}

.home__showreel__wrapper {
  width           : 90%;
  height          : 90%;
  display         : grid;
  place-items     : center;
  background-color: #EFF3F5;
}

.home__showreel {
  width     : 90%;
  height    : 90%;
  object-fit: cover;

  filter: brightness(.8);
}

.home__aim {
  height         : 61.1rem;
  width          : 100%;
  padding        : 0 14rem;
  display        : flex;
  align-items    : center;
  justify-content: end;
}

.home__aim__text {
  @extend %description-50;
  width: 73.5rem;
}





.home__projects {
  height             : 100vh;
  margin-top         : 25.81rem;
  // background-color: $color-blue;
}

.home__proj{
}

.home__projects__container {
  height     : 100%;
  display    : flex;
  align-items: center;
  overflow   : hidden;
}

.home__project__cards {
  position : sticky;
  top      : 50%;
  transform: translateY(-50%);
  display  : flex;
  gap      : 9.5rem;
  width    : fit-content;
}




.home__section__color {
  overflow: auto;
  color   : white;

  // background-color: black;
}

.home__selected__project__container {
  margin-top     : 35rem;
  height         : 50vh;
  width          : 100%;
  display        : flex;
  justify-content: center;
}

.home__selected__project {
  width      : 116.7rem;
  font-weight: 600;
  font-size  : 23.6rem;
  font-style : italic;
  height     : 68.2rem;
  line-height: 19.1rem;

  span {
    font-size     : 28.6rem;
    text-transform: uppercase;
    font-style    : normal;
    color         : #EEE3AB;
  }

}

.home__sentence__wrapper {
  margin-top   : 20rem;
  margin-bottom: 29.2rem;
  width        : 100%;
  height       : 100vh;
  padding-left : 10rem;

  position: relative;
}

.home__first__sentence {
  font-size  : 8rem;
  line-height: 8rem;

  font-weight: 500;
  width      : 122.9rem;
}

.home__three__net {
  width : 89.3rem;
  height: 50.255rem;

  background-color: #317A77;
  opacity         : 0;
  position        : absolute;
  top             : 23rem;
  right           : 9.4rem;
}

.home__second__sentence {
  font-size  : 5.1rem;
  font-weight: 300;
  width      : 92.7rem;
  height     : 15.6rem;

  line-height: 5rem;
  position   : absolute;
  bottom     : 12rem;
  left       : 58.2rem;

  color: #EEE3AB;
}

.home__all__project__link {
  padding-left: 10.8rem;
  @extend %description-31;

  display: flex;

  width : 41.4rem;
  height: 11rem;

  p {
    @extend %icon-101;
  }

  .home__all__project {
    margin-top: 2.1rem;
  }
}


.home__footer__wrapper {
  height: 100vh;
  width : 100vw;
}


.footer {
  width          : 100%;
  height         : 100%;
  color          : black;
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  background-color: #EEE3AB;
  color: #317A77;
}

.footer__wrapper {
  width  : 164rem;
  height : 90.9rem;
  display: flex;

  flex-direction : column;
  justify-content: space-between;
}

.footer__content {
  width : 100%;
  height: 39.4rem;

  display        : flex;
  justify-content: flex-end;

  position: relative;
}

.footer__social__wrapper {
  position: absolute;
  bottom  : 4.1rem;
  left    : 1.2rem;

  display       : flex;
  flex-direction: column;
  font-size     : 4.2rem;
}

.footer__content__wrapper {
  width : 61.7rem;
  height: 100%;

  padding-bottom: 3rem;

  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.footer__agency {
  width : 100%;
  height: 32.6rem;

  font-size     : 29.9rem;
  text-transform: uppercase;
  font-weight   : 500;

  display        : flex;
  justify-content: space-between
}

.contact__page {
  font-size: 4.2rem;
}

.footer__mail__link {
  font-size: 6.4rem;
}


// hhh

.menu {
  width           : 100vw;
  height          : 100vh;
  background-color: #317A77;
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : 2;
  display: none;

  .menu__wrapper {
    position: relative;
    width   : 100%;
    height  : 100%;


    .linkwrapper {
      width   : 56.8rem;
      height  : 55rem;
      position: absolute;

      top : 32.7rem;
      left: 16.3rem;

      display        : flex;
      flex-direction : column;
      justify-content: space-between;

      .linkContainer {
        position   : relative;
        font-weight: 500;

        .index {
          position : absolute;
          top      : 0;
          left     : 0;
          font-size: 4.1rem;
          color    : white;
        }

        a {
          font-size                : 12.3rem;
          margin-left              : 6.5rem;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #EEE3AB;

          color: transparent;
        }
      }
    }

    .menu__infos {
      width    : 37.3rem;
      height   : 15.5rem;
      color    : #EEE3AB;
      font-size: 4.1rem;

      position: absolute;

      right : 29.4rem;
      bottom: 40.7rem;

      .menu__socials {
        display: flex;
        gap    : 1.3rem;
      }
    }
  }
}