// @font-face {
//   font-family: $font-colus;
//   src: url('/fonts/colus-regular.woff2') format('woff2'),
//       url('/fonts/colus-regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-mersad;
//   src: url('/fonts/mersad-semibold.woff2') format('woff2'),
//       url('/fonts/mersad-semibold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-mersad;
//   src: url('/fonts/mersad-bold.woff2') format('woff2'),
//       url('/fonts/mersad-bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: $font-mersad;
//   src: url('/fonts/mersad-regular.woff2') format('woff2'),
//       url('/fonts/mersad-regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@import url("https://use.typekit.net/dhz1cnc.css");


@font-face {
    font-family: $font-forma;
    src        : url("https://use.typekit.net/dhz1cnc.css");
    font-weight: 500;
    font-style : normal;
}